venv
*.pyc
staticfiles
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/proyecto.iml
.idea/vcs.xml
.idea/workspace.xml
test_getFranjasDisponibles.py
pruebas.py
componentes/migrations/0003_producto_unidad.py
tests/
